<div class="row">
	<div class="col-xs-12 head">Brewards
		<div class="slogan">Drink beer | Reward yourself</div>
	</div>
	<div class="col-xs-2 rank">Rankings column<br>individual and group</div>
	<div class="col-xs-8 userInfo">User info<br>points, fav beer, current group, etc.</div>
	<div class="col-xs-2 groups">groups<br>create a group, invite friends</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p class ="footerText">Copyright &copy; Brewards 2016</p>
			</div>
		</div>
	</div>
</footer>