html {
	background-image: url("brickwall.jpg") !important;
}

.brand {
	background-color: transparent !important; 
	color: white;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	font-size: 100px;
	padding-top: 15px;

}

.slogan {
	background-color: transparent !important; 
	color: white;
	text-align: center;
	font-size: 45px;
	font-family: 'Pacifico', cursive;
}
.navbar {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
  	height: 100px;
  	width: 100%;
  	margin-top: 35px;
}

body {
	background-color: transparent !important; 
}

ul.nav.navbar-nav {
	display: inline-block;
	padding-top: 25px;
	padding-left: 325px;
	
}

.navLi {
	padding-left: 35px;
}

#login-dp{
    min-width: 300px;
    min-height: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    text-align: center;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 45%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    text-align: center;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
    text-align: center;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.dropdown {
	padding-left: 20px;
}

li.dropdown {
	padding-left: 40px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#myCarousel {
	background-color: white;
	padding: 20px;
	width: 1100px;
	height: 700px;
	margin-left: 90px;
}

.carousel-inner {
	margin-top: 32px;
	margin-left: 30px;	
}

.box {
	background-color: white;
	padding: 20px;
	width: 1100px;
	height: 400px;
	margin-left: 105px;
	margin-top: 20px;
}

footer {
	background-color: white;
	text-align: center;
	bottom: 0;
	height: 70px;
	font-size: 35px;
	font-family: 'Amatic SC', cursive;
	margin-top: 35px;
}

p.footerText {
	padding-top: 13px;
}

.jumbotron {
	margin-top: 50px;
}

h1.text-center {
	font-family: 'Amatic SC', cursive;
	font-size: 100px !important;
	font-weight: bold;
}

.signUpBox {
	background-color: white;
	width: 1150px;
	height: 500px;
	margin-left: 65px;
	margin-top: 40px;
	margin-bottom: 50px;
}

.head {
	width: 100%;
	text-align: center;
	background-color: transparent !important; 
	color: white;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 100px;
	padding-top: 15px;
	padding-bottom: 25px;
}

.rank {
	width: 15%;
	height: 400px;
	text-align: center;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	background-color: white;
	margin-left: 43px;
	margin-bottom: 70px;
}

.userInfo {
	width: 60%;
	height: 400px;
	text-align: center;
	float: left;
	margin: 10px;
	background-color: white;
	margin-bottom: 70px;
	
	
}

.groups {
	width: 15%;
	height: 400px;
	text-align: center;
	float: left;
	margin: 10px;
	background-color: white;
	margin-bottom: 70px;
}

.k-grid-content {
	overflow: scroll;
}


